body{

    text-align: center;
    background-color: #0e1111;
    color: #aec2c5;
}

#navCorner{
    z-index: 9999;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 93%;
    position: fixed;
}
#navCornerLinks{
    background-color: #0878fa;
    color:white;
    font-size: large;
    width: 175px;
    text-align: left;
    line-height: 45px;
    padding-left: 15px;
    border-radius: 15px;
}


#logo{
    width: 10%;
    padding-bottom: 3%;
    padding-top: 2%;
}
#triImg{
    width: 50%;
    margin-bottom: -1.5%;
}
#introText{
    padding-top: 3%;
    padding-bottom: 1%;
    background-color: rgb(43, 54, 54);
    color: #dee2dc;
    width:100%;
}
.pIntroTxt{
    margin: 0 8% 0 8%;
}
#readMore{
    margin-top: 1.5%;
}

#introNav{
    padding-top: 2%;

}
.navItemI{
    width:300px;

}

img.navItemI:hover{
    width:315px;
    background-color: #ded400;
    border-radius: 200px;
}

footer{
    padding-top: 2%;
    padding-bottom:2%;
    background-color: rgb(0, 0, 0);
}