/** GENERAL **/
body{

    text-align: center;
    background-color: #0e1111;
    color: #aec2c5;
}

#navCorner{
    z-index: 900;
    margin-top: 2%;
    margin-right: 2%;
    margin-left: 92%;
    position: fixed;
}
#navCornerLinks{
    background-color: #0878fa;
    color:white;
    font-size: large;
    width: 175px;
    text-align: left;
    line-height: 45px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    margin-left: -55%;
    display: none;
}
#navCornerLinks>a{
    color: white;
}
#navCornerLinks>a:hover{
    background-color: #004d9f;
    text-decoration: none;
}

#upBtn{
    background-color: orange;
    z-index: 900;
    margin-left: 44%;
    margin-top: 41%;
    position:fixed;
    color: white;
}

#upBtn:hover{
    background-color: rgb(255, 222, 0);
}

footer{
    padding-top: 2%;
    padding-bottom:2%;
    background-color: rgb(0, 0, 0);

}
/** end GENERAL **/


/** INDEX **/
#logo{
    width: 6%;
    padding-bottom: 3%;
    padding-top: 2%;
}
#triImg{
    width: 50%;
    margin-bottom: -1.5%;
}
#introText{
    padding-top: 3%;
    padding-bottom: 1%;
    background-color: rgb(43, 54, 54);
    color: #dee2dc;
    width:100%;
}
.pIntroTxt{
    margin: 0 8% 0 8%;
}
#readMore{
    margin-top: 1.5%;
}

#introNav{
    padding-top: 2%;

}
.navItemI{
    width:300px;

}

img.navItemI:hover{
    width:315px;
    background-color: #ded400;
    border-radius: 200px;
}
/** end INDEX */


/** CONTACT ME **/
.contactPara{
    padding: 18px 10%;
}
#message{
    height: 93px;
    border-radius: 10px;
}
#message:focus{
    background-color: #8ef5d8;
}
#email{
    border-radius: 10px;
}
#email:focus{
    background-color: #dedd6c;
}
#name{
    border-radius: 10px;
}
#name:focus{
    background-color: #fa8d8d;
}
/** end CONTACT ME **/


/** PROJECTS **/
.description{
    background-color: rgb(43, 54, 54);
    height: 150px;
    overflow: auto;
    color: white;
    text-align: center;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
}
.projectImg{
    width: 200px !important;
    height: 200px !important;
    object-fit: contain;
    padding: 0px !important;
}
.projectDesc {
    margin-top: 25px;
}


i {
    border: solid #2bca2b;
    border-width: 0px 5px 5px 0;
    display: inline-block;
    padding: 3px;
    font-size: 50px;
}

.leftArrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.rightArrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.skill {
    background: linear-gradient(to right, #ff2811 0%, #ff2811 15%, #ff9311 15%, #ff9311 55%, #f5af19 55%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    font-weight: 500;
}

#japan{
    text-align: center;
    background-size:cover;
    background-image: url("/portfolio/Portfolio/img/japan2.jpeg");
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 25px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}

#japanTxt{
color: red;
}

/** end  PROJECT **/
.futurePlanTxt {
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(43, 54, 54);
    color: #dee2dc;
    width:100%;
}

/**








