body{

    text-align: center;
    background-color: #0e1111;
    color: #aec2c5;
}

#logo{
    width: 10%;
    padding-bottom: 3%;
    padding-top: 2%;
}
#triImg{
    width: 50%;
    margin-bottom: -1.5%;
}
#introText{
    padding-top: 3%;
    padding-bottom: 1%;
    background-color: rgb(69, 82, 82);
    color: #fbfff8;
}
.pIntroTxt{
    margin: 0 8% 0 8%;
}
#readMore{
    margin-top: 1.5%;
}

#introNav{
    padding-top: 2%;

}
.navItemI{
    width:300px;

}

img.navItemI:hover{

}


footer{
    padding-top: 2%;
    padding-bottom:2%;
    background-color: rgb(0, 0, 0);
}